$primaryColor: #b340dc;

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': $primaryColor
    )
  )
);

@use 'element-plus/theme-chalk/src/index.scss' as *;
// import dark theme
@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;

.el-divider__text {
  color: rgba($color: #000000, $alpha: 0.4) !important;
}

.el-input__inner::placeholder {
  color: var(--x-text-placeholder-color) !important;
}

// 自定义颜色需要适配暗黑模式
html.dark {
  color-scheme: dark;

  .el-divider__text {
    color: rgba($color: #fff, $alpha: 0.4) !important;
  }
}

.el-overlay {
  // 渐变颜色，下边是主色，上面是白色，要高斯模糊
  background: linear-gradient(
    to top,
    var(--el-color-primary-light-7),
    rgba(255, 255, 255, 0.5)
  ) !important;

  // 全部主色模糊
  // background: var(--el-color-primary-alpha) !important;
  background-color: transparent;
  // 高斯模糊
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

// 暗色为渐变
html.dark {
  .el-overlay {
    background: linear-gradient(
      to top,
      var(--el-color-primary-light-7),
      rgba(0, 0, 0, 0.5)
    ) !important;
  }
}

// 修改 element date-picker 的下拉弹框内组件样式
.el-picker-panel__body {
  .el-date-range-picker__time-header {
    .el-icon {
      color: var(--x-text-second-color);
      transform: translateY(2px);
    }

    .el-date-range-picker__editor {
      .el-input__wrapper {
        box-shadow: none;
        background-color: transparent;
      }
    }

    .el-date-range-picker__editors-wrap {
      .el-date-range-picker__time-picker-wrap
        + .el-date-range-picker__time-picker-wrap {
        .el-input {
          .el-input__inner {
            text-align: right;
          }
        }
      }
    }
  }

  .el-date-range-picker__header {
    div {
      font-size: 12px;
      line-height: 28px;
    }
  }

  .el-date-table__row {
    .available {
      .el-date-table-cell {
        height: 32px;
      }

      &.in-range.start-date,
      &.in-range.end-date {
        .el-date-table-cell__text {
          width: 40px;
          height: 32px;
          border-radius: 12px;
          top: 4px;
          line-height: 30px;
        }
      }
    }
  }
}

.el-select-dropdown__item {
  padding: 0 8px !important;
  box-sizing: border-box;
  margin: 0 8px;
  border-radius: 8px;
  overflow: hidden;

  &.is-selected {
    background-color: var(--x-select-item-bg-color) !important;
    color: var(--x-text-color) !important;
  }
}

.el-select__popper.el-popper {
  border-radius: 16px;
  padding: 10px 0 !important;
}

.el-picker__popper.el-popper {
  border-radius: 16px;
  overflow: hidden;
}

// 调整统计组件样式
.el-statistic__head {
  font-size: 14px !important;
  color: var(--x-text-color) !important;
}

// 调整下拉菜单的圆角
.el-dropdown__popper .el-dropdown-menu {
  border-radius: 12px;
}

.el-input-number .el-input__inner[type='number'] {
  text-align: left;
}
